<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/LearnPython/blob/main/colab/final/00 - Lesson - Hello World.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# Hello, World!
- The story behind [Hello, World!](https://en.wikipedia.org/wiki/%22Hello,_World!%22_program)
- The [Zen of Python](https://en.wikipedia.org/wiki/Zen_of_Python)

### Goal
- Get started with **Python**
- Get comfortable with **Jupyter Notebook**
- Understand **input** and **print**
- Learn string methods: **capitlize**, **lower**, **isdecimal**, **replace**

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
print("Hey", 10, 2.2)

Hey 10 2.2

In [4]:
s = input()

In [5]:
s

''

In [6]:
s = input("What is your name? ")

In [7]:
print(s)

In [8]:
name = input("What is your name? ")
print("Hello", name.capitalize())
age = input("How old are you? ")
print("You are", age, "years old")

Hello
You are  years old

In [9]:
s = "rune"
t = s.capitalize()
print(t)

Rune

In [10]:
"Rune".upper()

'RUNE'

In [11]:
"Rune".lower()

'rune'

In [12]:
"223".isdecimal()

True

In [13]:
"Rune".isdecimal()

False

In [14]:
name = "Rune"
name.replace('R', 'S')

'Sune'

In [15]:
print("Rune", end=' ')
print("& Sune")

Rune & Sune