<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/LearnPython/blob/main/colab/final/02 - Lesson - Type Conversion.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# Type Conversion
- More about formatted strings
- Types are not the same
- Convert them with **int(), float(), str()**

In [1]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birht year? ")
print(f"You were born in {birth_year}.")

Hello Rune!
You were born in 1990.

In [ ]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birht year? ")
print(f"You are {2021 - birth_year} old!")

In [3]:
type(birth_year)

str

In [4]:
int(birth_year)

1990

In [5]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birht year? ")
birth_year = int(birth_year)
print(f"You are {2021 - birth_year} old!")

Hello Rune!
You are 31 old!

In [6]:
int("30")

30

In [7]:
int(" -4")

-4

In [8]:
float("2")

2.0

In [9]:
float("3.14")

3.14

In [10]:
float(3)

3.0

In [11]:
s = "This is a string"
i = 7

In [ ]:
s + i

In [13]:
s + str(i)

'This is a string7'