<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/LearnPython/blob/main/colab/final/06 - Lesson - Loops.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# Loops
### Goal
- Learn how to iterate over lists
- Iterate over the chars in a string
- Create a for-loop over a range
- Create a while-loop

In [1]:
my_list = ['First', 'Second', 'Third']

In [2]:
my_list

['First', 'Second', 'Third']

In [3]:
for i in my_list:
    print(i)

First
Second
Third

In [4]:
s = "Rune"

for c in s:
    print(c)
    print("Inside loop")
print("Outside the loop")

R
Inside loop
u
Inside loop
n
Inside loop
e
Inside loop
Outside the loop

In [5]:
for i in range(2, 4):
    print(i)

2
3

In [6]:
my_list

['First', 'Second', 'Third']

In [7]:
for i in range(len(my_list)):
    print(i, my_list[i])

0 First
1 Second
2 Third

In [8]:
value = 10

while value > 0:
    value = int(input("Value? "))

### A few new things

In [9]:
s = "abc"
c = 'd'

if c in s:
    print("c is in s")

In [10]:
if c not in s:
    print("c is not in s")

c is not in s

In [11]:
a = 13
b = 12
c = 10

if a < b or b < c:
    print("awesome")