<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/LearnPython/blob/main/colab/final/07 - Lesson - Functions.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# Functions
### Goal
- Learn about functions
- Use functions to structure code
- Functions makes the code more readable

In [1]:
def my_func():
    print("Hello, World!")

In [2]:
my_func()

Hello, World!

In [3]:
def print_name(name):
    print(f"Hello {name}")

In [4]:
print_name("Rune")

Hello Rune

In [5]:
print_name("Jens")

Hello Jens

In [6]:
def print_age(name, age):
    print(f"Hello {name}")
    print(f"You are {age} years old")

In [7]:
print_age("Rune", 30)

Hello Rune
You are 30 years old

In [8]:
def calculate_age(birth_year):
    return 2022 - birth_year
    print("HELLO")

In [9]:
calculate_age(1991)

31

### A few new things

In [10]:
ord('A')

65

In [11]:
ord('B')

66

In [12]:
chr(65)

'A'

In [13]:
chr(66)

'B'

In [14]:
for c in range(65, 65 + 26):
    print(f"{c} is {chr(c)}")

65 is A
66 is B
67 is C
68 is D
69 is E
70 is F
71 is G
72 is H
73 is I
74 is J
75 is K
76 is L
77 is M
78 is N
79 is O
80 is P
81 is Q
82 is R
83 is S
84 is T
85 is U
86 is V
87 is W
88 is X
89 is Y
90 is Z

In [15]:
hours = 50
(hours + 3) % 24

5

In [16]:
def is_even(n):
    if n % 2 == 0:
        print("even")
    else:
        print("odd")

In [17]:
is_even(1)

odd

In [18]:
for i in range(10):
    print(i, end=' ')
    is_even(i)

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd